.input{
    padding: 1rem 2rem;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius-md);
    font-size: 1.2rem;
}
.input::-ms-reveal {
  filter: invert(50%);
}

input[type="submit"]{
    cursor: pointer;
    transition: var(--animation-normal);
}
input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}