#Modules {
    min-height: 90vh;
}

.modules-container {
    padding: var(--padding-md);
}

.modules-container .modules-block {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-md);
    display: flex;
    justify-content: space-between;
    height: 40vh;
}

.modules-container .modules-block .modules-info {
    padding: var(--padding-md);
    flex: 1;
    position: relative;
}

.modules-container .modules-block .modules-info .modules-title {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

.modules-container .modules-block .modules-info .link-block {
    display: flex;
    gap: var(--padding-sm);
    margin-top: var(--padding-md);
    position: absolute;
    bottom: 2rem;
}

.modules-container .modules-block .modules-image {
    overflow: hidden;
    border-radius: var(--border-radius-md);
    flex: 1;
    position: relative;
}

.modules-container .modules-block .modules-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color) 20%, #ffffff00 100%);
    z-index: 1;
}

.modules-container .modules-block .modules-image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.modules-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--padding-md);
    margin-top: var(--padding-md);
}